name: CI
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions/cache@v5
        with:
          path: |
            ~/.cache/pip
            ~/.platformio/.cache
          key: ${{ runner.os }}-pio
      - uses: actions/setup-python@v6
        with:
          python-version: '3.14'
      - name: Install PlatformIO Core
        run: pip install --upgrade platformio

      - name: Run cppcheck
        run: pio check --fail-on-defect medium --fail-on-defect high

      - name: Run clang-format
        run: bin/clang-format-fix && git diff --exit-code

      - name: Build CrossPoint
        run: pio run
